<connectionStrings>
  <add name="LoacalDbConn" connectionString="Server=(localdb)\MSSQLLocalDb; Integrated Security=true; AttachDbFileName=|DataDirectory|\LocalDb.mdf;" providerName="System.Data.SqlClient" />
  <add name="CloudServerDbConn" connectionString="Server=tcp:natrucloud-db.c5dzhdsymnt9.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=ntiapps-db;Persist Security Info=False;User ID=bobga;Password=bobgapass;" providerName="System.Data.SqlClient" />
</connectionStrings>